<table style="width:70%; height:30%; border:0px; padding:0px; margin:auto; border-collapse: collapse;">
	<tr style="vertical-align: top;">
		<td style="width:100%; min-width:8cm; height:100% ;padding:0.1cm;">
			<div id="layout_title" style="
				display:block; 
				height: 100%;
				min-height:1cm; 
				margin:0px auto 10px auto;
				">
				{{ render_module( 'installmonitor' ) }}
			</div>
		</td>
	</tr>
</table>
