<table style="width:90%; height:95%; border:0px; padding:0px; margin:auto; border-collapse: collapse;">
	<tr style="vertical-align: top;">
		<td style="width:100%; min-width:2cm; height:10% ;padding:0.1cm;">
			<div id="layout_title" style="
				display:block; 
				height: 100%;
				min-height:1cm; 
				margin:0px auto 10px auto;
				">
				{{ render_module( 'installtitle' ) }}
			</div>
		</td>
	</tr>
	<tr style="vertical-align: top;">
		<td style="width:100%; min-width:10cm; height:80% ;padding:0.1cm;">
			<div id="layout_Panel2" style="
				display:block; 
				height:100%;
				min-height: 10cm; 
				padding-bottom: 0px;
				margin:0px 0px 10px auto;
			">
			{{ render_module( 'installdocument' ) }}
			</div>
		</td>
	</tr>
</table>

<div id="layout_monitor" 
	style="position:absolute; top:0px; left:0px; width:100%; height:100%; 
		background-color:#00000080; 
		padding-top:5cm;
		display:none; visibility:hidden; z-index:500;
	">
	<table style="width:70%; height:30%; border:0px; padding:0px; margin:auto; border-collapse: collapse;">
		<tr style="vertical-align: top;">
			<td style="width:100%; min-width:8cm; height:100% ;padding:0.1cm;">
				<div id="layout_title" style="
					display:block; 
					height: 100%;
					min-height:1cm; 
					margin:0px auto 10px auto;
					">
					{{ render_module( 'installmonitor' ) }}
				</div>
			</td>
		</tr>
	</table>
</div>


<div id="layout_tooltip" 
style="top:0px; left:0px; width:1cm; height:1cm; z-index:500;">
{{ render_module( 'tooltip' ) }}
</div>